
urgent_care_project/.Rhistory
urgent_care_project/.DS_Store
urgent_care_project/.DS_Store
urgent_care_project/.DS_Store
urgent_care_project/hospital_distance_calc.ipynb
urgent_care_project/map.png
urgent_care_project/distmap.png
urgent_care_project/distance_test.csv
urgent_care_project/colors.png
urgent_care_project/dist_with_mapping_coords.csv
urgent_care_project/closures_map.csv
urgent_care_project/closed_er_next_closest_full.csv
urgent_care_project/.RData
urgent_care_project/.DS_Store
mapping/cenpop.png
mapping/cenpop.R
mapping/sales.png
mapping/sales_lb.png
mapping/US_Cen_Pop.csv
mapping/US_Cen_Pop.xlsx
urgent_care_project/.DS_Store
urgent_care_project/.ipynb_checkpoints/hospital_distance_calc-checkpoint.ipynb
urgent_care_project/closed_er_next_closest.csv
urgent_care_project/hospital_distance_calc.ipynb
